article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif; }

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../assets/image-1.jpeg) fixed no-repeat;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/image-1.jpeg) fixed no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/image-1.jpeg) fixed no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/image-1.jpeg) fixed no-repeat;
  background-size: cover;
  height: 100vh;
  font-weight: 700; }
  header .btn {
    width: 50%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

i {
  font-size: 5rem;
  padding: 15px 0;
  padding-left: 0; }

.fab {
  font-size: 2rem;
  color: black; }

.fa-bars {
  position: fixed;
  top: -2%;
  right: 4%;
  color: black;
  z-index: 1000; }

.fa-heart:hover, .fa-leaf:hover, .fa-camera:hover {
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease; }

.fa-heart:hover {
  color: red; }

.fa-leaf:hover {
  color: green; }

.fa-camera:hover {
  color: blue; }

.fa-times {
  padding: 0; }

.fa-envelope, .fa-phone, .fa-map-marker-alt {
  padding-right: 15px; }

a {
  text-decoration: none;
  display: block;
  width: 100%; }

.hamburger,
.exit-responsive {
  display: none; }

.show.menu {
  display: block; }

nav h3 {
  width: 20%; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  padding: 45px 0; }

.wrapper--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.wrapper--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 80px 0; }
  .wrapper--center p {
    width: 70%; }

.wrapper--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrapper__text {
  text-align: center;
  line-height: 1.56; }

.container__text--border {
  border-top: 1px solid black;
  border-left: none;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%; }

.sectionTitle {
  text-transform: uppercase;
  font-family: 'Catamaran', sans-serif;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 0;
  text-align: center; }

.sectionTitle--small {
  font-size: 2rem; }

.sectionTitle--left {
  text-align: left; }

.sectionTitle--blue {
  color: #285d64; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff; }

.services--olive {
  background-color: #bec884; }

.wrapper h3 {
  margin-top: 0; }

.nav {
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-weight: 600; }

nav {
  width: 90%; }

.nav__link a {
  text-decoration: none;
  color: #2a2a2a;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase; }
  .nav__link a:hover {
    color: white;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease; }

.icon--small {
  font-size: 1.6rem; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-transform: uppercase;
  text-align: left;
  margin-top: 20%;
  position: absolute;
  bottom: 30%;
  right: 15%;
  font-size: 2rem; }

.header__title {
  font-size: 3.5rem; }

.headerNavigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%; }

.btn {
  background-color: transparent;
  text-align: center;
  border-radius: 1.5rem;
  padding: 5px;
  margin-top: 20px;
  width: 125px;
  border: solid black 1px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px; }

.btn:hover {
  background-color: gold;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 75px; }
  .card:nth-of-type(3) {
    margin-right: 0; }

.card--large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.card__item {
  text-align: left;
  line-height: 1.56; }
  .card__item a:hover {
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
    color: black; }

.card__item--large {
  width: calc((100% / 2) - 10px);
  position: relative;
  margin: 5px; }
  .card__item--large:hover .gallery__item--hover {
    display: block;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .card__item--large a {
    color: white; }
    .card__item--large a:hover {
      color: gold;
      -webkit-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      transition: 0.2s all ease; }

.card__item--blue {
  color: #285d64;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem; }
  .card__item--blue a {
    color: #285d64; }

.sectionTitle--large {
  font-size: 4rem; }

.sectionTitle--header {
  display: inline-block; }

.paragraphText--left {
  text-align: left;
  width: 80%; }

.paragraphText--italic {
  font-style: italic; }

.sectionTitle--left {
  text-align: left; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 80px 0; }

.container--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 50px; }
  .container--left p {
    width: 90%; }

.container--olive {
  background-color: #bec884;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.wrapper--left {
  width: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 40px;
  line-height: 1.56; }

.paragraphText--left {
  width: 100%; }

.container--lightGrey {
  background-color: #f5f3f3;
  padding-bottom: 50px; }

.container--pink {
  background-color: #f2b094; }

.container__content--pink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  width: 100%; }
  .container__content--pink input {
    background-color: #f2b094;
    padding: 15px; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

img {
  display: block;
  max-width: 100%;
  height: 100%; }

.gallery__item {
  display: block;
  width: calc(100% / 4);
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .gallery__item:hover .gallery__item--hover {
    display: block;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

.gallery__item--hover {
  background: rgba(42, 42, 42, 0.8);
  display: none;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .gallery__item--hover h3 {
    text-transform: uppercase; }

.container--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%; }

.galleryLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: #606060;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-right: 15px;
  font-weight: 700; }
  .galleryLinks .galleryLinks__item {
    padding: 25px;
    width: 100%; }
    .galleryLinks .galleryLinks__item:hover {
      background-color: black; }
    .galleryLinks .galleryLinks__item a {
      color: white; }
      .galleryLinks .galleryLinks__item a:hover {
        color: gold;
        -webkit-transition: 0.2s all ease;
        -o-transition: 0.2s all ease;
        transition: 0.2s all ease; }

.container--footer {
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 15px; }
  .container--footer .container--instagram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    position: relative; }
    .container--footer .container--instagram figure {
      width: calc(100% / 4);
      padding: 5px; }
  .container--footer .container--social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: absolute;
    right: -100px; }
    .container--footer .container--social i {
      font-size: 1.6rem; }
    .container--footer .container--social a {
      color: black; }
    .container--footer .container--social .fab:hover {
      color: palevioletred;
      -webkit-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      transition: 0.2s all ease; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%; }

button {
  border-left: none;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: transparent; }

input {
  border: 1px solid black;
  border-right: none;
  padding: 10px; }

.nav__footer {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.photography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px; }

.nav__link--footer {
  padding: 20px; }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  background: black;
  width: 100%;
  font-weight: 700; }

@media (max-width: 668px) {
  header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/image-1.jpeg) fixed no-repeat 50% top left;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image-1.jpeg) fixed no-repeat 50% top left;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image-1.jpeg) fixed no-repeat 50% top left;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/image-1.jpeg) fixed no-repeat 50% top left; }
  .sectionTitle--header {
    display: none; }
  .header {
    top: 50%;
    max-width: 70%;
    color: white; }
  .hamburger,
  .exit-responsive {
    display: block;
    font-size: 25px; }
  .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: gold;
    color: white;
    width: 100%;
    height: 100vh;
    z-index: 100; }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .menu ul a {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    padding: 25px; }
  .btn {
    margin-bottom: 10px;
    color: white;
    background-color: black; }
    .btn:hover {
      background-color: white;
      color: black; }
  .wrapper--left {
    width: 80%;
    margin-right: 30px; }
  .wrapper__text {
    text-align: left;
    font-size: 1.2rem; }
  .wrapper--center p {
    width: 90%; }
  .container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%; }
  .container--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  i {
    padding-left: 0;
    padding-right: 0; }
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 15px; }
    .card:nth-of-type(3) {
      margin-bottom: 0; }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .gallery .gallery__item {
      width: 100%; }
  .galleryLinks {
    width: 105%; }
  .container--footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%; }
  .testimonial--figure {
    width: 60%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .headerNavigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-size: 1.2rem; }
  .header__title {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .wrapper {
    padding-top: 0;
    position: relative; }
  .card {
    margin-right: 0; }
  .card__item {
    text-align: center; }
  .aboutUs {
    display: none; }
  .container--footer .container--social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: initial; }
    .container--footer .container--social i {
      font-size: 3rem; }
  .container--olive {
    padding-bottom: 25px; }
  .container--left {
    padding-left: 0; }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2rem; }
  .nav a:hover {
    color: gold;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease; }
  .sectionTitle--left {
    text-align: center; }
  .nav__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .nav__footer .nav__link--footer {
      padding: 10px; }
      .nav__footer .nav__link--footer a {
        color: black; } }
