@import "setup.scss";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}

//  <------------HEADER STYLES -------------->


header {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../assets/image-1.jpeg) fixed no-repeat;
    background-size: cover;
    height: 100vh;
}

.header {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    text-align: left;
    margin: 0 auto;
    position: absolute;
    right: 11%;
    top: 40%;

    .btn {
        margin-top: 0;
    }
}

.header__title {
    font-size: 3.5rem;
}

.header__text {
    margin-top: 0;
}

.headerNavigation {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    flex: 1 0 100%;
}

ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

i {
    font-size: 5rem;
    padding: 15px 0;
}

.fab {
    font-size: 2rem;
    color: black;
}

a {
    text-decoration: none;
}

nav h3 {
    width: 20%;
}

.wrapper {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
 }

.wrapper--header {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.wrapper--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrapper--column {
    display: flex;
    flex-direction: column;
}


.wrapper__text {
    text-align: center;
    line-height: 1.56;
    width: 60%;
}

.container__text--border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    width: 60%;
}

.sectionTitle {
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    padding: 0; 
    margin: 0;
    text-align: center;
}

.sectionTitle--small {
    font-size: 2rem;
}

.sectionTitle--left {
    text-align: left;
}

.sectionTitle--blue {
    color: #285d64;
}


.services {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.services--olive {
    background-color: #bec884;
}

.wrapper h3 {
    margin-top: 0;
}

.nav {
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-weight: 600;
}

nav {
    width: 90%;
}

.nav__link a {
    font-family: 'Catamaran', sans-serif;
    text-decoration: none;
    color:#2a2a2a;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
        color: white;
        transition: 0.2s all ease;
    }
}

.icon--small {
    font-size: 1.6rem;
}

.btn {
    background-color: transparent;
    text-align: center;
    border-radius: 1.5rem;
    padding: 5px;
    width: 125px;
    border: solid black 1px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: 20px;

    &:hover {
        background-color: gold;
        transition: 0.2s all ease;
    }
}

.card {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    flex-wrap: wrap;
    margin: 20px 20px 20px 0;

    &:nth-of-type(3) {
        margin-right: 0;
    }
}

.card--large {
    display: flex;
    flex-wrap: wrap;
    width: 66.66%;
    margin-top: 60px;
}

.card__item {
    text-align: left;
    line-height: 1.56;

    a {
        color: #285d64;
    }
}

.card__item--large {
    width: calc(50% - 10px);
    margin: 5px;
}

.card__item--blue {
    color: #285d64;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;

    a:hover {
        color: black;
    }
}

.sectionTitle--large {    
    font-size: 4rem;
    margin-bottom: 0;
}

.sectionTitle--header {
    display: inline-block;
}

.paragraphText--left {
    text-align: left;
}

.paragraphText--italic {
    font-style: italic;
}

.sectionTitle--left {
    text-align: left;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 60px 0;
}

.container--olive {
    background-color: #bec884;
}

.wrapper--left {
    width: 50%;
    flex-direction: column;
    margin-left: 40px;
    line-height: 1.56;
}

.testimonial--figure {
    width: 33%;
}

.container--grey {
    background-color: #fff;
}

.container--lightGrey {
    background-color: #f5f3f3;
}

.container--pink {
    background-color: #f2b094;
}
.gallery {
    display: flex;
    flex-flow: row wrap;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

.gallery__item {
    width: calc(100% / 4);
}

.container--left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 60px 0;
}
.galleryLinks {
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center;
    background-color: #606060;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 20px 50px;
    margin-right: 15px;
    font-weight: 700;
    width: 33.33%;
    margin-top: 60px;
}

.galleryLinks__item {
    padding: 25px 15px;
}

.galleryLinks__item a {
    color: white;
}

.container--footer {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
}

.container--instagram {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.container--instagram figure {
    width: calc(100% / 4);
    padding: 5px;
}

.container--social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: -40px;
}
.container--social i {
    font-size: 1.6rem;
}

.container--social a {
    color: black;
}

    // ICON STYLES HERE

.fab a:hover {
    color: palevioletred;
    transition: 0.2s all ease;
}

.fa-leaf:hover, .fa-heart:hover, .fa-camera:hover {
    transition: 0.2s all ease;
}

.fa-leaf:hover {
    color: green;
}

.fa-camera:hover {
    color: blue;
}

.fa-heart:hover {
    color: red;
}

form {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

button {
    border-left : none;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: transparent;
}

input {
    border: 1px solid black;
    border-right: none;
    padding: 10px;
}

.nav__footer {
    display: block;
    flex-direction: column;
}

.photography {
    display: flex;
    width: 100%;  
    flex-direction: column;
    align-items: center;
}

.nav__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.nav__link--footer {
    padding: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    background: black;
    width: 100%;
    font-weight: 700;
}

.contact {
    text-align: left;
    width: 100%;

    i {
        padding-right: 10px;
    }
}

.aboutUsText {
    width: 80%;
    font-family: 'Catamaran', sans-serif;
}


// ===============MEDIA QUERIES=================

@media (max-width: 668px) {


    .header {
        top: 100%;
    }

    .wrapper--left {
        width: 80%;
        margin-right: 30px;
    }

    .wrapper__text {
        text-align: left;
        font-size: 1.2rem;
    }

    .container {
        flex-wrap: nowrap;
        width: 100%;
    }

    .container--left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .galleryLinks {
        width: 105%;
    }
    
    .container--footer {
        align-items: center;
        width: 90%;
    }

    .testimonial--figure {
        width: 60%;
    }

    .headerNavigation {
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 1.2rem;
    }

    .header__title {
        text-align: center;
        justify-content: center;
        color: white;
    }

    .header__text {
        color: white;
    }

    .header .btn {
        color: white;
        border: 2px solid white;
    }

    .header .btn:hover {
        background-color: red;
    }

    .wrapper {
        padding-top: 0;
        position: relative;
    }

    .card__item {
        text-align: center;
    }

    .aboutUs {
        display: none;
    }

    .container--social {
        flex-direction: row;
        position: relative;
        justify-content: flex-start;

    }

    .nav {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 3%;
        font-size: 2rem;
    }

    .nav a:hover {
        color: gold;
        transition: 0.2s all ease;
    }

    .nav__link a{
        color: white;
    }

    .sectionTitle--left {
        text-align: center;
    }

    .nav__link--footer a {
        color: black;
    }

    .nav__footer {
        flex-direction: column;
    }
}