article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif; }

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../assets/image-1.jpeg) fixed no-repeat;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/image-1.jpeg) fixed no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/image-1.jpeg) fixed no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/image-1.jpeg) fixed no-repeat;
  background-size: cover;
  height: 100vh; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-transform: uppercase;
  text-align: left;
  margin: 0 auto;
  position: absolute;
  right: 11%;
  top: 30%; }

.header__title {
  font-size: 3.5rem; }

.header__text {
  margin-top: 0; }

.headerNavigation {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

i {
  font-size: 5rem;
  padding: 15px 0; }

.fab {
  font-size: 2rem;
  color: black; }

a {
  text-decoration: none; }

nav h3 {
  width: 20%; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0; }

.wrapper--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.wrapper--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.wrapper--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrapper__text {
  text-align: center;
  line-height: 1.56;
  width: 60%; }

.container__text--border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  background-color: transparent;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700; }

.sectionTitle {
  text-transform: uppercase;
  font-family: 'Catamaran', sans-serif;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  text-align: center; }

.sectionTitle--small {
  font-size: 2rem; }

.sectionTitle--left {
  text-align: left; }

.sectionTitle--blue {
  color: #285d64; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff; }

.services--olive {
  background-color: #bec884; }

.wrapper h3 {
  margin-top: 0; }

.nav {
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-weight: 600; }

nav {
  width: 90%; }

.nav__link a {
  text-decoration: none;
  color: #2a2a2a;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase; }
  .nav__link a:hover {
    color: white;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease; }

.icon--small {
  font-size: 1.6rem; }

.btn {
  background-color: transparent;
  text-align: center;
  border-radius: 1.5rem;
  padding: 5px;
  margin-bottom: 100px;
  width: 125px;
  border: solid black 1px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px; }
  .btn:hover {
    background-color: gold;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px 20px 20px 0; }
  .card:nth-of-type(3) {
    margin-right: 0; }

.card--large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 66.66%; }

.card__item {
  text-align: left;
  line-height: 1.56; }
  .card__item a {
    color: #285d64; }

.card__item--large {
  width: calc(50% - 10px);
  margin: 5px; }

.card__item--blue {
  color: #285d64;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem; }
  .card__item--blue a:hover {
    color: black; }

.sectionTitle--large {
  font-size: 4rem;
  margin-bottom: 0; }

.sectionTitle--header {
  display: inline-block; }

.paragraphText--left {
  text-align: left; }

.paragraphText--italic {
  font-style: italic; }

.sectionTitle--left {
  text-align: left; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.container--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 50px;
  width: 55%; }

.container--olive {
  background-color: #bec884; }

.wrapper--left {
  width: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 40px;
  line-height: 1.56; }

.container--grey {
  background-color: #fff; }

.container--lightGrey {
  background-color: #f5f3f3; }

.container--pink {
  background-color: #f2b094; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

img {
  display: block;
  max-width: 100%;
  height: 100%; }

.gallery__item {
  width: calc(100% / 4); }

.container--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%; }

.galleryLinks {
  background-color: #606060;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 20px 50px;
  margin-right: 15px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 33.33%; }

.galleryLinks__item {
  padding: 25px 15px; }

.galleryLinks__item a {
  color: white; }

.container--footer {
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container--instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative; }

.container--instagram figure {
  width: calc(100% / 4);
  padding: 5px; }

.container--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  right: -40px; }

.container--social i {
  font-size: 1.6rem; }

.container--social a {
  color: black; }

.fab a:hover {
  color: palevioletred;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease; }

.fa-leaf:hover, .fa-heart:hover, .fa-camera:hover {
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease; }

.fa-leaf:hover {
  color: green; }

.fa-camera:hover {
  color: blue; }

.fa-heart:hover {
  color: red; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%; }

button {
  border-left: none;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: transparent; }

input {
  border: 1px solid black;
  border-right: none; }

.nav__footer {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.photography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px; }

.nav__link--footer {
  padding: 20px; }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  background: black;
  width: 100%;
  font-weight: 700; }

@media (max-width: 668px) {
  .header {
    top: 100%; }
  .wrapper--left {
    width: 80%;
    margin-right: 30px; }
  .wrapper__text {
    text-align: left;
    font-size: 1.2rem; }
  .container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%; }
  .container--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .galleryLinks {
    width: 105%; }
  .container--footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%; }
  .testimonial--figure {
    width: 60%; }
  .headerNavigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-size: 1.2rem; }
  .header__title {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white; }
  .header__text {
    color: white; }
  .header .btn {
    color: white;
    border: 2px solid white; }
  .header .btn:hover {
    background-color: red; }
  .wrapper {
    padding-top: 0;
    position: relative; }
  .card__item {
    text-align: center; }
  .aboutUs {
    display: none; }
  .container--social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3%;
    font-size: 2rem; }
  .nav a:hover {
    color: gold;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease; }
  .nav__link a {
    color: white; }
  .sectionTitle--left {
    text-align: center; }
  .nav__link--footer a {
    color: black; }
  .nav__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }
